.item-holder
{
  display: inline-flex;
  flex-direction: column;

  padding-bottom: 10px;
}

.item-holder > a
{
  display: block;
}

.item-holder .action-bar
{
  display: inline-flex;
  
  flex-direction: row;

  justify-content: space-between;
}

.new-item-warning::before
{
  color: darkorange;
  content: '\26A0';
}

.priceTag
{
  color: white;
  text-align: center;
  font-weight: bold;
}

.hotTrade
{
  box-shadow: 0 0 10px 1px gold !important;
  border-color: gold !important;
}