:root
{
  --background: #FFFFFF30;
  --background-light: #FFFFFF50;
  --background-dark: #00000060;

  --text: #E0E0E0;
  --text-inverted: #101010;
}

#background-image
{
  position: fixed;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  z-index: -1;
}

*
{
  border-color: #303030 !important;
}

.rlg-trade-display-item__create.selected
{
  border: 1px solid var(--text) !important;
}

.new-item-warning::before
{
  color: var(--text);
}

:root,
.rlg-footer-ads-container
{
  background-color: black !important;
  color: var(--text) !important;
}

body,
.rlg-card,
.rlg-trade-display-container,
.rlg-trade-display-items-container,
.rlg-trade-selector-items,
.rlg-trade-display-item__create
{
  background-color: transparent !important;
}

h1,
p,
.rlg-menu-main-item,
.rlg-menu-main-subs *
{
  color: var(--text) !important;
}

.rlg-btn-primary-gray-light,
.rlg-item-tooltip
{
  color: var(--text-inverted) !important;
}

.rlg-trade-filter,
.rlg-trade-display-header,
.rlg-trade-display-want-have,
.rlg-trade-note-header,
.rlg-trade-link-area-read
{
  background-color: var(--background-dark) !important;
}

.rlg-card .rlg-trade-display-items .rlg-trade-display-items-container,
.rlg-trade-filter-content,
.rlg-card .rlg-trade-note-container .rlg-trade-note-area-read,
.rlg-trade-display-container .rlg-trade-note-container .rlg-trade-note-area-read,
.rlg-card .rlg-trade-display-items, .rlg-trade-display-container .rlg-trade-display-items,
.rlg-menu-main-subs,
.rlg-item-tooltip
{
  background-color: var(--background-dark) !important;
}